In [37]:
import pandas as pd
import numpy as np
import math
import operator

In [38]:
col=['sepal_length','sepal_width','petal_length','petal_width','type']
iris=pd.read_csv("iris.xlsx",names=col)

In [39]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width         type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [40]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [41]:
def euclidianDistance(data1, data2, length):
    distance = 0
    for x in range(length):
        distance += np.square(data1[x] - data2[x])
       
    return np.sqrt(distance)

In [42]:
def knn(trainingSet, testInstance, k):
 
    distances = {}
    sort = {}
 
    length = testInstance.shape[1]
    
    for x in range(len(trainingSet)):
        
        dist = euclideanDistance(testInstance, trainingSet.iloc[x], length)

        distances[x] = dist[0]
      
    sorted_d = sorted(distances.items(), key=operator.itemgetter(1))
   
 
    neighbors = []

   
    for x in range(k):
        neighbors.append(sorted_d[x][0])
    classVotes = {}
    
  
    for x in range(len(neighbors)):
        response = trainingSet.iloc[neighbors[x]][-1]
 
        if response in classVotes:
            classVotes[response] += 1
        else:
            classVotes[response] = 1


    sortedVotes = sorted(classVotes.items(), key=operator.itemgetter(1), reverse=True)
    return(sortedVotes[0][0], neighbors)

In [43]:
testSet = [[7.2, 3.6, 5.1, 2.5]]
test = pd.DataFrame(testSet)

In [45]:
result,neigh = knn(iris, test, 1)

0    4.41
Name: 0, dtype: float64
0    4.42
Name: 0, dtype: float64
0    18.11
Name: 0, dtype: float64
0    23.4
Name: 0, dtype: float64
0    5.29
Name: 0, dtype: float64
0    5.65
Name: 0, dtype: float64
0    19.34
Name: 0, dtype: float64
0    24.63
Name: 0, dtype: float64
0    6.25
Name: 0, dtype: float64
0    6.41
Name: 0, dtype: float64
0    20.85
Name: 0, dtype: float64
0    26.14
Name: 0, dtype: float64
0    6.76
Name: 0, dtype: float64
0    7.01
Name: 0, dtype: float64
0    19.97
Name: 0, dtype: float64
0    25.26
Name: 0, dtype: float64
0    4.84
Name: 0, dtype: float64
0    4.84
Name: 0, dtype: float64
0    18.53
Name: 0, dtype: float64
0    23.82
Name: 0, dtype: float64
0    3.24
Name: 0, dtype: float64
0    3.33
Name: 0, dtype: float64
0    14.89
Name: 0, dtype: float64
0    19.3
Name: 0, dtype: float64
0    6.76
Name: 0, dtype: float64
0    6.8
Name: 0, dtype: float64
0    20.49
Name: 0, dtype: float64
0    25.33
Name: 0, dtype: float64
0    4.84
Name: 0, dtype: float64
0    4.88
Name: 0, dtype: float64
0    17.84
Name: 0, dtype: float64
0    23.13
Name: 0, dtype: float64
0    7.84
Name: 0, dtype: float64
0    8.33
Name: 0, dtype: float64
0    22.02
Name: 0, dtype: float64
0    27.31
Name: 0, dtype: float64
0    5.29
Name: 0, dtype: float64
0    5.54
Name: 0, dtype: float64
0    18.5
Name: 0, dtype: float64
0    24.26
Name: 0, dtype: float64
0    3.24
Name: 0, dtype: float64
0    3.25
Name: 0, dtype: float64
0    16.21
Name: 0, dtype: float64
0    21.5
Name: 0, dtype: float64
0    5.76
Name: 0, dtype: float64
0    5.8
Name: 0, dtype: float64
0    18.05
Name: 0, dtype: float64
0    23.34
Name: 0, dtype: float64
0    5.76
Name: 0, dtype: float64
0    6.12
Name: 0, dtype: float64
0    19.81
Name: 0, dtype: float64
0    25.57
Name: 0, dtype: float64
0    8.41
Name: 0, dtype: float64
0    8.77
Name: 0, dtype: float64
0    24.77
Name: 0, dtype: float64
0    30.53
Name: 0, dtype: float64
0    1.96
Name: 0, dtype: float64
0    2.12
Name: 0, dtype: float64
0    17.33
Name: 0, dtype: float64
0    22.62
Name: 0, dtype: float64
0    2.25
Name: 0, dtype: float64
0    2.89
Name: 0, dtype: float64
0    15.85
Name: 0, dtype: float64
0    20.26
Name: 0, dtype: float64
0    3.24
Name: 0, dtype: float64
0    3.33
Name: 0, dtype: float64
0    17.77
Name: 0, dtype: float64
0    22.18
Name: 0, dtype: float64
0    4.41
Name: 0, dtype: float64
0    4.42
Name: 0, dtype: float64
0    18.11
Name: 0, dtype: float64
0    22.95
Name: 0, dtype: float64
0    2.25
Name: 0, dtype: float64
0    2.29
Name: 0, dtype: float64
0    13.85
Name: 0, dtype: float64
0    18.69
Name: 0, dtype: float64
0    4.41
Name: 0, dtype: float64
0    4.45
Name: 0, dtype: float64
0    17.41
Name: 0, dtype: float64
0    22.25
Name: 0, dtype: float64
0    3.24
Name: 0, dtype: float64
0    3.28
Name: 0, dtype: float64
0    14.84
Name: 0, dtype: float64
0    20.13
Name: 0, dtype: float64
0    4.41
Name: 0, dtype: float64
0    4.42
Name: 0, dtype: float64
0    17.38
Name: 0, dtype: float64
0    21.79
Name: 0, dtype: float64
0    6.76
Name: 0, dtype: float64
0    6.76
Name: 0, dtype: float64
0    23.57
Name: 0, dtype: float64
0    28.86
Name: 0, dtype: float64
0    4.41
Name: 0, dtype: float64
0    4.5
Name: 0, dtype: float64
0    16.06
Name: 0, dtype: float64
0    20.06
Name: 0, dtype: float64
0    5.76
Name: 0, dtype: float64
0    5.8
Name: 0, dtype: float64
0    16.04
Name: 0, dtype: float64
0    21.33
Name: 0, dtype: float64
0    4.84
Name: 0, dtype: float64
0    5.2
Name: 0, dtype: float64
0    17.45
Name: 0, dtype: float64
0    22.74
Name: 0, dtype: float64
0    4.84
Name: 0, dtype: float64
0    4.88
Name: 0, dtype: float64
0    17.13
Name: 0, dtype: float64
0    21.54
Name: 0, dtype: float64
0    4.0
Name: 0, dtype: float64
0    4.01
Name: 0, dtype: float64
0    16.97
Name: 0, dtype: float64
0    22.26
Name: 0, dtype: float64
0    4.0
Name: 0, dtype: float64
0    4.04
Name: 0, dtype: float64
0    17.73
Name: 0, dtype: float64
0    23.02
Name: 0, dtype: float64
0    6.25
Name: 0, dtype: float64
0    6.41
Name: 0, dtype: float64
0    18.66
Name: 0, dtype: float64
0    23.95
Name: 0, dtype: float64
0    5.76
Name: 0, dtype: float64
0    6.01
Name: 0, dtype: float64
0    18.26
Name: 0, dtype: float64
0    23.55
Name: 0, dtype: float64
0    3.24
Name: 0, dtype: float64
0    3.28
Name: 0, dtype: float64
0    16.24
Name: 0, dtype: float64
0    20.65
Name: 0, dtype: float64
0    4.0
Name: 0, dtype: float64
0    4.25
Name: 0, dtype: float64
0    17.21
Name: 0, dtype: float64
0    22.97
Name: 0, dtype: float64
0    2.89
Name: 0, dtype: float64
0    3.25
Name: 0, dtype: float64
0    16.94
Name: 0, dtype: float64
0    22.23
Name: 0, dtype: float64
0    5.29
Name: 0, dtype: float64
0    5.54
Name: 0, dtype: float64
0    18.5
Name: 0, dtype: float64
0    24.26
Name: 0, dtype: float64
0    4.84
Name: 0, dtype: float64
0    5.0
Name: 0, dtype: float64
0    20.21
Name: 0, dtype: float64
0    25.5
Name: 0, dtype: float64
0    2.89
Name: 0, dtype: float64
0    2.9
Name: 0, dtype: float64
0    17.34
Name: 0, dtype: float64
0    22.63
Name: 0, dtype: float64
0    5.29
Name: 0, dtype: float64
0    5.54
Name: 0, dtype: float64
0    18.5
Name: 0, dtype: float64
0    24.26
Name: 0, dtype: float64
0    7.84
Name: 0, dtype: float64
0    8.2
Name: 0, dtype: float64
0    22.64
Name: 0, dtype: float64
0    27.93
Name: 0, dtype: float64
0    4.41
Name: 0, dtype: float64
0    4.45
Name: 0, dtype: float64
0    17.41
Name: 0, dtype: float64
0    22.7
Name: 0, dtype: float64
0    4.84
Name: 0, dtype: float64
0    4.85
Name: 0, dtype: float64
0    19.29
Name: 0, dtype: float64
0    24.13
Name: 0, dtype: float64
0    7.29
Name: 0, dtype: float64
0    8.98
Name: 0, dtype: float64
0    23.42
Name: 0, dtype: float64
0    28.26
Name: 0, dtype: float64
0    7.84
Name: 0, dtype: float64
0    8.0
Name: 0, dtype: float64
0    22.44
Name: 0, dtype: float64
0    27.73
Name: 0, dtype: float64
0    4.84
Name: 0, dtype: float64
0    4.85
Name: 0, dtype: float64
0    17.1
Name: 0, dtype: float64
0    20.71
Name: 0, dtype: float64
0    4.41
Name: 0, dtype: float64
0    4.45
Name: 0, dtype: float64
0    14.69
Name: 0, dtype: float64
0    19.1
Name: 0, dtype: float64
0    5.76
Name: 0, dtype: float64
0    6.12
Name: 0, dtype: float64
0    19.81
Name: 0, dtype: float64
0    24.65
Name: 0, dtype: float64
0    4.41
Name: 0, dtype: float64
0    4.45
Name: 0, dtype: float64
0    16.7
Name: 0, dtype: float64
0    21.99
Name: 0, dtype: float64
0    6.76
Name: 0, dtype: float64
0    6.92
Name: 0, dtype: float64
0    20.61
Name: 0, dtype: float64
0    25.9
Name: 0, dtype: float64
0    3.61
Name: 0, dtype: float64
0    3.62
Name: 0, dtype: float64
0    16.58
Name: 0, dtype: float64
0    21.87
Name: 0, dtype: float64
0    4.84
Name: 0, dtype: float64
0    4.93
Name: 0, dtype: float64
0    18.62
Name: 0, dtype: float64
0    23.91
Name: 0, dtype: float64
0    0.04
Name: 0, dtype: float64
0    0.2
Name: 0, dtype: float64
0    0.36
Name: 0, dtype: float64
0    1.57
Name: 0, dtype: float64
0    0.64
Name: 0, dtype: float64
0    0.8
Name: 0, dtype: float64
0    1.16
Name: 0, dtype: float64
0    2.16
Name: 0, dtype: float64
0    0.09
Name: 0, dtype: float64
0    0.34
Name: 0, dtype: float64
0    0.38
Name: 0, dtype: float64
0    1.38
Name: 0, dtype: float64
0    2.89
Name: 0, dtype: float64
0    4.58
Name: 0, dtype: float64
0    5.79
Name: 0, dtype: float64
0    7.23
Name: 0, dtype: float64
0    0.49
Name: 0, dtype: float64
0    1.13
Name: 0, dtype: float64
0    1.38
Name: 0, dtype: float64
0    2.38
Name: 0, dtype: float64
0    2.25
Name: 0, dtype: float64
0    2.89
Name: 0, dtype: float64
0    3.25
Name: 0, dtype: float64
0    4.69
Name: 0, dtype: float64
0    0.81
Name: 0, dtype: float64
0    0.9
Name: 0, dtype: float64
0    1.06
Name: 0, dtype: float64
0    1.87
Name: 0, dtype: float64
0    5.29
Name: 0, dtype: float64
0    6.73
Name: 0, dtype: float64
0    9.97
Name: 0, dtype: float64
0    12.22
Name: 0, dtype: float64
0    0.36
Name: 0, dtype: float64
0    0.85
Name: 0, dtype: float64
0    1.1
Name: 0, dtype: float64
0    2.54
Name: 0, dtype: float64
0    4.0
Name: 0, dtype: float64
0    4.81
Name: 0, dtype: float64
0    6.25
Name: 0, dtype: float64
0    7.46
Name: 0, dtype: float64
0    4.84
Name: 0, dtype: float64
0    7.4
Name: 0, dtype: float64

0    9.96
Name: 0, dtype: float64
0    12.21
Name: 0, dtype: float64
0    1.69
Name: 0, dtype: float64
0    2.05
Name: 0, dtype: float64
0    2.86
Name: 0, dtype: float64
0    3.86
Name: 0, dtype: float64
0    1.44
Name: 0, dtype: float64
0    3.4
Name: 0, dtype: float64
0    4.61
Name: 0, dtype: float64
0    6.86
Name: 0, dtype: float64
0    1.21
Name: 0, dtype: float64
0    1.7
Name: 0, dtype: float64
0    1.86
Name: 0, dtype: float64
0    3.07
Name: 0, dtype: float64
0    2.56
Name: 0, dtype: float64
0    3.05
Name: 0, dtype: float64
0    5.3
Name: 0, dtype: float64
0    6.74
Name: 0, dtype: float64
0    0.25
Name: 0, dtype: float64
0    0.5
Name: 0, dtype: float64
0    0.99
Name: 0, dtype: float64
0    2.2
Name: 0, dtype: float64
0    2.56
Name: 0, dtype: float64
0    2.92
Name: 0, dtype: float64
0    3.28
Name: 0, dtype: float64
0    4.28
Name: 0, dtype: float64
0    1.96
Name: 0, dtype: float64
0    2.77
Name: 0, dtype: float64
0    3.77
Name: 0, dtype: float64
0    6.02
Name: 0, dtype: float64
0    1.0
Name: 0, dtype: float64
0    2.96
Name: 0, dtype: float64
0    3.32
Name: 0, dtype: float64
0    4.32
Name: 0, dtype: float64
0    2.56
Name: 0, dtype: float64
0    3.77
Name: 0, dtype: float64
0    5.21
Name: 0, dtype: float64
0    7.17
Name: 0, dtype: float64
0    1.69
Name: 0, dtype: float64
0    1.85
Name: 0, dtype: float64
0    1.94
Name: 0, dtype: float64
0    2.43
Name: 0, dtype: float64
0    1.21
Name: 0, dtype: float64
0    1.85
Name: 0, dtype: float64
0    3.06
Name: 0, dtype: float64
0    4.5
Name: 0, dtype: float64
0    0.81
Name: 0, dtype: float64
0    2.02
Name: 0, dtype: float64
0    2.06
Name: 0, dtype: float64
0    3.06
Name: 0, dtype: float64
0    1.21
Name: 0, dtype: float64
0    1.85
Name: 0, dtype: float64
0    2.01
Name: 0, dtype: float64
0    3.7
Name: 0, dtype: float64
0    0.64
Name: 0, dtype: float64
0    1.13
Name: 0, dtype: float64
0    1.77
Name: 0, dtype: float64
0    3.21
Name: 0, dtype: float64
0    0.36
Name: 0, dtype: float64
0    0.72
Name: 0, dtype: float64
0    1.21
Name: 0, dtype: float64
0    2.42
Name: 0, dtype: float64
0    0.16
Name: 0, dtype: float64
0    0.8
Name: 0, dtype: float64
0    0.89
Name: 0, dtype: float64
0    2.1
Name: 0, dtype: float64
0    0.25
Name: 0, dtype: float64
0    0.61
Name: 0, dtype: float64
0    0.62
Name: 0, dtype: float64
0    1.26
Name: 0, dtype: float64
0    1.44
Name: 0, dtype: float64
0    1.93
Name: 0, dtype: float64
0    2.29
Name: 0, dtype: float64
0    3.29
Name: 0, dtype: float64
0    2.25
Name: 0, dtype: float64
0    3.25
Name: 0, dtype: float64
0    5.81
Name: 0, dtype: float64
0    8.06
Name: 0, dtype: float64
0    2.89
Name: 0, dtype: float64
0    4.33
Name: 0, dtype: float64
0    6.02
Name: 0, dtype: float64
0    7.98
Name: 0, dtype: float64
0    2.89
Name: 0, dtype: float64
0    4.33
Name: 0, dtype: float64
0    6.29
Name: 0, dtype: float64
0    8.54
Name: 0, dtype: float64
0    1.96
Name: 0, dtype: float64
0    2.77
Name: 0, dtype: float64
0    4.21
Name: 0, dtype: float64
0    5.9
Name: 0, dtype: float64
0    1.44
Name: 0, dtype: float64
0    2.25
Name: 0, dtype: float64
0    2.25
Name: 0, dtype: float64
0    3.06
Name: 0, dtype: float64
0    3.24
Name: 0, dtype: float64
0    3.6
Name: 0, dtype: float64
0    3.96
Name: 0, dtype: float64
0    4.96
Name: 0, dtype: float64
0    1.44
Name: 0, dtype: float64
0    1.48
Name: 0, dtype: float64
0    1.84
Name: 0, dtype: float64
0    2.65
Name: 0, dtype: float64
0    0.25
Name: 0, dtype: float64
0    0.5
Name: 0, dtype: float64
0    0.66
Name: 0, dtype: float64
0    1.66
Name: 0, dtype: float64
0    0.81
Name: 0, dtype: float64
0    2.5
Name: 0, dtype: float64
0    2.99
Name: 0, dtype: float64
0    4.43
Name: 0, dtype: float64
0    2.56
Name: 0, dtype: float64
0    2.92
Name: 0, dtype: float64
0    3.92
Name: 0, dtype: float64
0    5.36
Name: 0, dtype: float64
0    2.89
Name: 0, dtype: float64
0    4.1
Name: 0, dtype: float64
0    5.31
Name: 0, dtype: float64
0    6.75
Name: 0, dtype: float64
0    2.89
Name: 0, dtype: float64
0    3.89
Name: 0, dtype: float64
0    4.38
Name: 0, dtype: float64
0    6.07
Name: 0, dtype: float64
0    1.21
Name: 0, dtype: float64
0    1.57
Name: 0, dtype: float64
0    1.82
Name: 0, dtype: float64
0    3.03
Name: 0, dtype: float64
0    1.96
Name: 0, dtype: float64
0    2.96
Name: 0, dtype: float64
0    4.17
Name: 0, dtype: float64
0    5.86
Name: 0, dtype: float64
0    4.84
Name: 0, dtype: float64
0    6.53
Name: 0, dtype: float64
0    9.77
Name: 0, dtype: float64
0    12.02
Name: 0, dtype: float64
0    2.56
Name: 0, dtype: float64
0    3.37
Name: 0, dtype: float64
0    4.18
Name: 0, dtype: float64
0    5.62
Name: 0, dtype: float64
0    2.25
Name: 0, dtype: float64
0    2.61
Name: 0, dtype: float64
0    3.42
Name: 0, dtype: float64
0    5.11
Name: 0, dtype: float64
0    2.25
Name: 0, dtype: float64
0    2.74
Name: 0, dtype: float64
0    3.55
Name: 0, dtype: float64
0    4.99
Name: 0, dtype: float64
0    1.0
Name: 0, dtype: float64
0    1.49
Name: 0, dtype: float64
0    2.13
Name: 0, dtype: float64
0    3.57
Name: 0, dtype: float64
0    4.41
Name: 0, dtype: float64
0    5.62
Name: 0, dtype: float64
0    10.03
Name: 0, dtype: float64
0    11.99
Name: 0, dtype: float64
0    2.25
Name: 0, dtype: float64
0    2.89
Name: 0, dtype: float64
0    3.89
Name: 0, dtype: float64
0    5.33
Name: 0, dtype: float64
0    0.81
Name: 0, dtype: float64
0    0.9
Name: 0, dtype: float64
0    1.71
Name: 0, dtype: float64
0    1.71
Name: 0, dtype: float64
0    1.96
Name: 0, dtype: float64
0    2.77
Name: 0, dtype: float64
0    2.77
Name: 0, dtype: float64
0    3.13
Name: 0, dtype: float64
0    0.01
Name: 0, dtype: float64
0    0.37
Name: 0, dtype: float64
0    1.01
Name: 0, dtype: float64
0    1.17
Name: 0, dtype: float64
0    0.81
Name: 0, dtype: float64
0    1.3
Name: 0, dtype: float64
0    1.55
Name: 0, dtype: float64
0    2.04
Name: 0, dtype: float64
0    0.49
Name: 0, dtype: float64
0    0.85
Name: 0, dtype: float64
0    1.34
Name: 0, dtype: float64
0    1.43
Name: 0, dtype: float64
0    0.16
Name: 0, dtype: float64
0    0.52
Name: 0, dtype: float64
0    2.77
Name: 0, dtype: float64
0    2.93
Name: 0, dtype: float64
0    5.29
Name: 0, dtype: float64
0    6.5
Name: 0, dtype: float64
0    6.86
Name: 0, dtype: float64
0    7.5
Name: 0, dtype: float64
0    0.01
Name: 0, dtype: float64
0    0.5
Name: 0, dtype: float64
0    1.94
Name: 0, dtype: float64
0    2.43
Name: 0, dtype: float64
0    0.25
Name: 0, dtype: float64
0    1.46
Name: 0, dtype: float64
0    1.95
Name: 0, dtype: float64
0    2.44
Name: 0, dtype: float64
0    0.0
Name: 0, dtype: float64
0    0.0
Name: 0, dtype: float64
0    1.0
Name: 0, dtype: float64
0    1.0
Name: 0, dtype: float64
0    0.49
Name: 0, dtype: float64
0    0.65
Name: 0, dtype: float64
0    0.65
Name: 0, dtype: float64
0    0.9
Name: 0, dtype: float64
0    0.64
Name: 0, dtype: float64
0    1.45
Name: 0, dtype: float64
0    1.49
Name: 0, dtype: float64
0    1.85
Name: 0, dtype: float64
0    0.16
Name: 0, dtype: float64
0    0.52
Name: 0, dtype: float64
0    0.68
Name: 0, dtype: float64
0    0.84
Name: 0, dtype: float64
0    2.25
Name: 0, dtype: float64
0    3.46
Name: 0, dtype: float64
0    3.47
Name: 0, dtype: float64
0    3.72
Name: 0, dtype: float64
0    1.96
Name: 0, dtype: float64
0    2.6
Name: 0, dtype: float64
0    2.6
Name: 0, dtype: float64
0    2.61
Name: 0, dtype: float64
0    0.64
Name: 0, dtype: float64
0    0.8
Name: 0, dtype: float64
0    0.84
Name: 0, dtype: float64
0    0.88
Name: 0, dtype: float64
0    0.49
Name: 0, dtype: float64
0    0.85
Name: 0, dtype: float64
0    1.01
Name: 0, dtype: float64
0    1.5
Name: 0, dtype: float64
0    0.25
Name: 0, dtype: float64
0    0.29
Name: 0, dtype: float64
0    2.85
Name: 0, dtype: float64
0    2.94
Name: 0, dtype: float64
0    0.25
Name: 0, dtype: float64
0    1.25
Name: 0, dtype: float64
0    4.49
Name: 0, dtype: float64
0    4.53
Name: 0, dtype: float64
0    1.44
Name: 0, dtype: float64
0    3.4
Name: 0, dtype: float64
0    3.41
Name: 0, dtype: float64
0    4.41
Name: 0, dtype: float64
0    0.09
Name: 0, dtype: float64
0    0.25
Name: 0, dtype: float64
0    0.61
Name: 0, dtype: float64
0    0.65
Name: 0, dtype: float64
0    2.56
Name: 0, dtype: float64
0    3.2
Name: 0, dtype: float64
0    3.24
Name: 0, dtype: float64
0    3.49
Name: 0, dtype: float64
0    0.25
Name: 0, dtype: float64
0    0.89
Name: 0, dtype: float64
0    3.45
Name: 0, dtype: float64
0    3.7
Name: 0, dtype: float64
0    0.81
Name: 0, dtype: float64
0    1.62
Name: 0, dtype: float64
0    1.66
Name: 0, dtype: float64
0    2.15
Name: 0, dtype: float64
0    0.25
Name: 0, dtype: float64
0    0.34
Name: 0, dtype: float64
0    0.7
Name: 0, dtype: float64
0    0.86
Name: 0, dtype: float64
0    0.0
Name: 0, dtype: float64
0    0.16
Name: 0, dtype: float64
0    0.97
Name: 0, dtype: float64
0    1.46
Name: 0, dtype: float64
0    1.0
Name: 0, dtype: float64
0    1.64
Name: 0, dtype: float64

0    1.73
Name: 0, dtype: float64
0    2.22
Name: 0, dtype: float64
0    1.21
Name: 0, dtype: float64
0    1.57
Name: 0, dtype: float64
0    1.61
Name: 0, dtype: float64
0    2.1
Name: 0, dtype: float64
0    0.64
Name: 0, dtype: float64
0    1.28
Name: 0, dtype: float64
0    1.53
Name: 0, dtype: float64
0    1.69
Name: 0, dtype: float64
0    0.0
Name: 0, dtype: float64
0    0.36
Name: 0, dtype: float64
0    0.85
Name: 0, dtype: float64
0    1.66
Name: 0, dtype: float64
0    0.04
Name: 0, dtype: float64
0    0.68
Name: 0, dtype: float64
0    1.68
Name: 0, dtype: float64
0    2.04
Name: 0, dtype: float64
0    0.49
Name: 0, dtype: float64
0    0.53
Name: 0, dtype: float64
0    2.22
Name: 0, dtype: float64
0    2.47
Name: 0, dtype: float64
0    0.64
Name: 0, dtype: float64
0    1.28
Name: 0, dtype: float64
0    1.53
Name: 0, dtype: float64
0    1.62
Name: 0, dtype: float64
0    0.81
Name: 0, dtype: float64
0    1.45
Name: 0, dtype: float64
0    1.45
Name: 0, dtype: float64
0    2.45
Name: 0, dtype: float64
0    1.21
Name: 0, dtype: float64
0    2.21
Name: 0, dtype: float64
0    2.46
Name: 0, dtype: float64
0    3.67
Name: 0, dtype: float64
0    0.25
Name: 0, dtype: float64
0    0.61
Name: 0, dtype: float64
0    1.61
Name: 0, dtype: float64
0    1.65
Name: 0, dtype: float64
0    0.81
Name: 0, dtype: float64
0    0.85
Name: 0, dtype: float64
0    1.1
Name: 0, dtype: float64
0    1.11
Name: 0, dtype: float64
0    0.64
Name: 0, dtype: float64
0    0.89
Name: 0, dtype: float64
0    1.05
Name: 0, dtype: float64
0    1.54
Name: 0, dtype: float64
0    1.44
Name: 0, dtype: float64
0    1.8
Name: 0, dtype: float64
0    1.89
Name: 0, dtype: float64
0    2.38
Name: 0, dtype: float64
0    0.09
Name: 0, dtype: float64
0    0.34
Name: 0, dtype: float64
0    0.43
Name: 0, dtype: float64
0    0.59
Name: 0, dtype: float64
0    0.25
Name: 0, dtype: float64
0    0.5
Name: 0, dtype: float64
0    0.75
Name: 0, dtype: float64
0    0.76
Name: 0, dtype: float64
0    0.09
Name: 0, dtype: float64
0    0.34
Name: 0, dtype: float64
0    0.34
Name: 0, dtype: float64
0    0.38
Name: 0, dtype: float64
0    1.96
Name: 0, dtype: float64
0    2.77
Name: 0, dtype: float64
0    2.77
Name: 0, dtype: float64
0    3.13
Name: 0, dtype: float64
0    0.16
Name: 0, dtype: float64
0    0.32
Name: 0, dtype: float64
0    0.96
Name: 0, dtype: float64
0    1.0
Name: 0, dtype: float64
0    0.25
Name: 0, dtype: float64
0    0.34
Name: 0, dtype: float64
0    0.7
Name: 0, dtype: float64
0    0.7
Name: 0, dtype: float64
0    0.25
Name: 0, dtype: float64
0    0.61
Name: 0, dtype: float64
0    0.62
Name: 0, dtype: float64
0    0.66
Name: 0, dtype: float64
0    0.81
Name: 0, dtype: float64
0    2.02
Name: 0, dtype: float64
0    2.03
Name: 0, dtype: float64
0    2.39
Name: 0, dtype: float64
0    0.49
Name: 0, dtype: float64
0    0.85
Name: 0, dtype: float64
0    0.86
Name: 0, dtype: float64
0    1.11
Name: 0, dtype: float64
0    1.0
Name: 0, dtype: float64
0    1.04
Name: 0, dtype: float64
0    1.13
Name: 0, dtype: float64
0    1.17
Name: 0, dtype: float64
0    1.69
Name: 0, dtype: float64
0    2.05
Name: 0, dtype: float64
0    2.05
Name: 0, dtype: float64
0    2.54
Name: 0, dtype: float64

In [27]:
print(result)

Iris-virginica